SUPABASE_URL=https://pahanghosyepfuwcfexg.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBhaGFuZ2hvc3llcGZ1d2NmZXhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAwNjI3NTQsImV4cCI6MjA5NTYzODc1NH0.HQpxZSWo0Um1JDZuSZpzHQnDDpSzC5-XiaNPyT-12MI
